{% extends 'base.html' %}
{% load static %}   
{% block content %}
    <div class="blog-container-cover">
        <div class="container-info-cover">
            <h1>¡Tu tienda de confianza!</h1>
            <p>La fuerza no proviene de lo que puedes hacer, sino de superar lo que creías que no podías..</p>
        </div>
    </div>

    <div class="container-post">
        <input type="radio" id="REMERA" name="categories" value="REMERA" checked>
        <input type="radio" id="CAMISA" name="categories" value="CAMISA">
        <input type="radio" id="CAMPERA" name="categories" value="CAMPERA">
        <input type="radio" id="PANTALON" name="categories" value="PANTALON">
        <input type="radio" id="MEDIAS" name="categories" value="MEDIAS">
        <input type="radio" id="TAZAS" name="categories" value="TAZAS">
        <input type="radio" id="PELOTA" name="categories" value="PELOTA">

        <div class="container-category">
            <label for="REMERA">REMERA</label>
            <label for="CAMISA">CAMISA</label>
            <label for="CAMPERA">CAMPERA</label>
            <label for="PANTALON">PANTALON</label>
            <label for="MEDIAS">MEDIAS</label>
            <label for="TAZAS">TAZAS</label>
            <label for="PELOTA">PELOTA</label>
        </div>

        <div class="posts">
            <div class="post" data-category="CSS">
                <div class="ctn-img">
                    <img src="{% static 'img/r1.png' %}" alt="">
                </div>
                <h2>Camiseta All Black Lions XV  $46.000</h2>
                <span><strong>3</strong> cuotas sin interes de <strong>$15.333,33</strong></span>
                <a href="{% static 'articulo.html' %}"><button>Comprar</button></a>
            </div>

            <div class="post" data-category="HTML">
                <div class="ctn-img"><img src="{% static 'img/r2.png' %}" alt=""></div>
                <h2>Camiseta Francia Lions XV  $46.000</h2>
                <span><strong>3</strong> cuotas sin interes de <strong>$15.333,33</strong></span>
                <a href="#"><button>Comprar</button></a>
            </div>
            

            <div class="post" data-category="JS">
                <div class="ctn-img"><img src="{% static 'img/r3.png' %}" alt=""></div>
                <h2>Camiseta Pumas Seven Lions XV $46.000</h2>
                <span><strong>3</strong> cuotas sin interes de <strong>$15.333,33</strong></span>
                <a href="#"><button>Comprar</button></a>
            </div>

            <div class="post" data-category="JS NODEJS VUE">
                <div class="ctn-img"><img src="{% static 'img/r4.png' %}" alt=""></div>
                <h2>Camiseta Racing 92 Lions XV $46.000</h2>
                <span><strong>3</strong> cuotas sin interes de <strong>$15.333,33</strong></span>
                <a href="#"><button>Comprar</button></a>
            </div>

            <div class="post" data-category="CSS">
                <div class="ctn-img"><img src="{% static 'img/r5.png' %}" alt=""></div>
                <h2>Camiseta Paris Lions XV $46.000</h2>
                <span><strong>3</strong> cuotas sin interes de <strong>$15.333,33</strong></span>
                <a href="#"><button>Comprar</button></a>
            </div>

            <div class="post" data-category="PHP">
                <div class="ctn-img"><img src="{% static 'img/r6.png' %}" alt=""></div>
                <h2>Camiseta Italia Lions XV $46.000</h2>
                <span><strong>3</strong> cuotas sin interes de <strong>$15.333,33</strong></span>
                <a href="#"><button>Comprar</button></a>
            </div>

            <div class="post" data-category="CSS NODEJS">
                <div class="ctn-img"><img src="{% static 'img/r7.png' %}" alt=""></div>
                <h2>Remera Picton Pulse Negra  $25.500</h2>
                <span><strong>3</strong> cuotas sin interes de <strong>$8.500</strong></span>
                <a href="#"><button>Comprar</button></a>
            </div>
        </div>
    </div>

    <div class="container-footer">	
        <footer>
            <div class="logo-footer">
                <img src="{% static 'img/pelota.png' %}" alt="">
            </div>

            <div class="redes-footer">
                <a href="#"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a href="#"><i class="fab fa-google-plus-g icon-redes-footer"></i></a>
                <a href="#"><i class="fab fa-instagram icon-redes-footer"></i></a>
            </div>
            <hr>
            <h4>© Hecho solamente por Josesito - Todos los Derechos Reservados</h4>
        </footer>
    </div>

{% endblock content %}